{% extends "utils/base.html" %}

{% block content %}
<div class="container mt-5 pt-5 pb-5">
    <div class="col-10 mx-auto">
        <form class="d-flex">
            <input type="text" name="search" class="form-control" placeholder="Search">
            <select class="form-control" name="sort_by">
                <option value="">Choose</option>
                <option value="sort_low">Sort by Low to high</option>
                <option value="sort_high">Sort by high to Low</option>


            </select>
            <button type="submit" class="btn btn-warning mt-1">Search</button>
        </form>
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
            {% for hotel in hotels %}
            <div class="col">
                <div class="card h-100 shadow">
                    {% if hotel.hotel_images.first %}
                    <img style="height: 150px;" src="/media/{{ hotel.hotel_images.first.image }}" class="card-img-top"
                        alt="Hotel Image">
                    {% else %}
                    <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"
                        class="card-img-top" alt="Default Hotel Image">
                    {% endif %}

                    <div class="card-body">
                        <!-- Hotel Name -->
                        <h5 class="card-title"><a href="{% url 'hotel_details' hotel.hotel_slug %}" style="color: rgb(244, 30, 126);">{{ hotel.hotel_name }}</a></h5>
                        <!-- Hotel Description -->
                        <div class="d-flex justify-content-between">
                            <span class="text-danger">Price</span>
                            <span class="text-danger">{{ hotel.hotel_price }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="text-success">Offer Price</span>
                            <span class="text-success">{{ hotel.hotel_offer_price }}</span>
                        </div>
                        <!-- {{ hotel.description| safe |truncatewords:10 }} -->
                        <!-- Hotel Amenities -->
                    </div>
                    <div class="card-footer">
                        {% if hotel.amenities.all %}
                        {% for amenity in hotel.amenities.all %}
                        <span class="badge bg-primary">{{ amenity.name }}</span>
                        {% endfor %}
                        {% else %}
                        <span class="badge bg-secondary">No Amenities</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}