<!-- <nav class="navbar navbar-dark bg-danger shadow-lg p-2 nav">
  <div class="container-fluid">
    <a class="navbar-brand">
        <img src="https://i.pinimg.com/736x/60/20/3c/60203c06b364a8764b54bba1a35290c2.jpg" height="40" alt="OYO Clone">
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav> -->
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow-lg p-2 nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img height="40" src="https://i.pinimg.com/736x/60/20/3c/60203c06b364a8764b54bba1a35290c2.jpg">
    </a>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item mx-3">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      {% if user.is_authenticated %}
      <!-- If user is logged in, show Logout -->
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
      </li>
      {% else %}
      <!-- If user is NOT logged in, show Login & Register -->
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>